@import url('https://fonts.cdnfonts.com/css/actor');



body{
    font-size: x-large;
    background-color: #ffffff;
    margin: 0;
}

div{
    width: 90%;
    background-color: #53baff;
    padding: 5%;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'Actor', sans-serif;
    text-align: center;
}

.div-secundaria{
    width: 75%;
    padding: 5%;
    background-color: #0011fc; /* cor diferente */
    margin: 0 auto;
    border-radius: 15px;
    color: #ffffff;
    font-family: 'Actor', sans-serif;
}

.btn-formulario {
  background: #0059ff;      
  color: #fff;              
  border: 2px solid #0011fc;
  border-radius: 8px;       
  padding: 10px 24px;      
  font-size: 18px;          
  cursor: pointer;          
  transition: background 0.3s;
}
.btn-formulario:hover {
  background: #0011fc;      
}

.inicio {
    width: 100%;
    height: 500px; /* Faixa mais fina */
    object-fit: cover; /* Garante que a imagem preencha a faixa */
    display: block;
}

.rodape {
    background: #585964;        /* Cor de fundo */
    color: #fff;             /* Cor do texto */
    text-align: center;      /* Centraliza o texto */
    padding: 16px 0;         /* Espaçamento interno */
    font-size: 15px;         /* Tamanho da fonte */
    border-top: 2px solid #000000; /* Borda superior */
    font-family: 'Actor', sans-serif;
}

h1{
    font-family: 'Just another hand', sans-serif;
    text-align: center;
    color: #0011fc                                     
}   